.catalog {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.catalog .title-cat {
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
