.cont-songs {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.cont-songs .title-cat {
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.songs-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.song-card {
  max-width: 280px;
  flex: 1 0 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
  text-decoration: none;
}

.song-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
}

.song-info {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.song-info p {
  color: white;
  font-size: 1rem;
}

.song-info p:last-child {
  color: rgb(180, 180, 180);
  font-size: 0.8rem;
}

.i-music {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  font-size: 1.8rem;
}

.info-hover {
  display: none;
}

.song-card:hover {
  border-radius: 20px 20px 0px 0px;

  .info-hover {
    height: 110px;
    display: block;
    background-color: rgb(36, 36, 36);
    position: absolute;
    z-index: 1;
    bottom: -110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.61);
    color: white;
    border-top: 1px solid rgb(0, 0, 0);
  }

  .i-music {
    font-size: 2.0rem;
  }

  .info-item {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .info-item p {
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }

  .info-hover .info-item:last-child p {
    font-size: 0.8rem;
  }

  .info-item i {
    font-size: 1.4rem;
  }
}
