#container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60));
  background: url(../../../src/assets/img/rec.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  background-color: #232323;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.308);
  text-align: center;
  height: 800px;
}

#logo-img {
  max-width: 60%;
  padding-bottom: 40px;
}


#register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px; 
  margin: 20px;
  background-color: #181717;
  color: rgb(150, 150, 150);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#register-button:hover {
  box-shadow: 0 0 10px rgba(150, 0, 255, 0.2);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(110, 110, 110);
  outline: none;
  color: rgb(230, 230, 230);
}

input[type="email"] {
  width: 68%;
  padding: 10px;
  margin: 5px 0;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(110, 110, 110);
  outline: none;
  color: rgb(230, 230, 230);
}

input[type="password"] {
  width: 68%;
  padding: 10px;
  margin: 5px 0;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(110, 110, 110);
  outline: none;
  color: rgb(230, 230, 230);
}

input:hover{
  border: 1px solid rgb(150, 150, 150);
}

#login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px; 
  margin: 20px 0;
  background-color: #ffe200;
  color: #232323;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
}


#login-button:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.308);
}


@media (max-width: 768px) {
  form {
    width: 80%;
    max-width: 400px;
    height: 700px; 
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.568);
    text-align: center;
    background-color: #232323;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  img {
    max-width: 60%;
  }
}
