#root * {
  box-sizing: content-box;
}

#welcome-form *{
  font-family: Inter;
}

body {
  background-color: black;
  font-family:  Inter !important;
}

#root h1 {
  font-size: 46px;
}

#root h2 {
  font-size: 36px;
}

#root h3 {
  font-size: 28px;
}

#root h4 {
  font-size: 20px;
}

#root h5 {
  font-size: 14px;
}

#root h6 {
  font-size: 10px;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-track {
  background: transparent;        
}

body::-webkit-scrollbar-thumb {
  background-color: yellow;    
  border-radius: 20px;       
}

